#######################################################
#######################################################
##                                                   ##
## Copy me, edit me and change my extension to .sh.  ##
##                  Then run brcbuild                ##
##                                                   ##
#######################################################
#######################################################

########################
#         Paths        #
########################

export DESKTOP=$HOME'/Desktop'
export WORK=$HOME'/Restlet'

# Where all the github repositories are (yes it's assumed they're all in one place)
export FORGE=$WORK'/forge'

export TOOLING=$FORGE'/Tooling'
export BASHRC=$TOOLING'/bashrc'
export PRIVATE_TOOLING=$FORGE'/Private_Tooling'
export BASHRC_DOC=$HOME'/.bashrcDoc'

export BASH_PROMPT_PATH=$HOME'/.config/bash-prompt'

########################
#       Variables      #
########################

export TERM='xterm-256color'

# User's github id
export GITHUB_ID='quilicicf'

# Prompt appended in PS1
export FUNNY_PROMPT="%¥©¬¶ǂ😋"

# Final PS1
export BASH_PROMPT=""
